# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

Q 1.Create a set with the first 10 positive integers. Print the set.

In [5]:
set1={1,2,3,4,5,6,7,8,9,10}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q2 .Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [6]:
set1.add(11)
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Q 3.Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [10]:
set_1=set(range(1,6))
print(f"The set one is {set_1}")
set_2=set(range(2,11,2))
print(f"The set Two is {set_2}")
uni=set_1.union(set_2)
inter=set_1.intersection(set_2)
diff=set_1.difference(set_2)
diff_2=set_2.difference(set_1)
diff_sym=set_1.symmetric_difference(set_2)
print(f"The Union of sets are {uni}")
print(f"The Intersection of sets are {inter}")
print(f"The difference of sets are {diff}")
print(f"The 2nd difference of sets are {diff_2}")
print(f"The Symmetric difference of sets are {diff_sym}")

The set one is {1, 2, 3, 4, 5}
The set Two is {2, 4, 6, 8, 10}
The Union of sets are {1, 2, 3, 4, 5, 6, 8, 10}
The Intersection of sets are {2, 4}
The difference of sets are {1, 3, 5}
The 2nd difference of sets are {8, 10, 6}
The Symmetric difference of sets are {1, 3, 5, 6, 8, 10}

Q 4.Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [11]:
set_com={x*x for x in range(1,11)}
set_com

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

Q 5.Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [12]:
set_com2={x for x in set1 if x%2==0}
set_com2

{2, 4, 6, 8, 10}

Q 6.Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [14]:
set_dup={1,2,3,1,1,2,3,4,5,6,5,6,7,8,5,6}
unique=set(set_dup)
print(unique)

{1, 2, 3, 4, 5, 6, 7, 8}

Q 7.Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [17]:
first={1,2,3,4,5}
second={1,2,3}
is_subset=second.issubset(first)
print(is_subset)
is_superset=first.issuperset(second)
print(is_superset)

True
True

Q 8.Create a frozenset with the first 5 positive integers. Print the frozenset.

In [18]:
fs=frozenset(range(1,6))
print(f"The frozen set is {fs}")

The frozen set is frozenset({1, 2, 3, 4, 5})

Q 9.Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [28]:
lis=set(range(1,6))
set_list=list(lis)
set_list.append(6)
lis=set(set_list)
print(f"The converted set into list and append 6 {set_list}")
print(f"The converted list into set{lis}")

The converted set into list and append 6 [1, 2, 3, 4, 5, 6]
The converted list into set{1, 2, 3, 4, 5, 6}

Q 10.Create a dictionary with set keys and integer values. Print the dictionary.

In [29]:
d={
    frozenset({1,3}):4,
    frozenset({5,6}):7,
    frozenset({8,9}):10
}
print(d)

{frozenset({1, 3}): 4, frozenset({5, 6}): 7, frozenset({8, 9}): 10}

Q 11.Create a set and iterate over the elements, printing each element.

In [30]:
s=set(range(1,11))
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9
10

Q 12.Create a set and remove elements from it until it is empty. Print the set after each removal.

In [35]:
s=set(range(1,11))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

Q 13.Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [45]:
q={1,2,3}
r={3,4,5}
q.symmetric_difference_update(r)
print(q)

{1, 2, 4, 5}

Q14.Create a set and test if certain elements are present in the set. Print the results.

In [47]:
s={1,2,3,4,5,6,7,8,9,10}
print( 3 in s)
print(11 in s)

True
False

Q 15.Create a set containing tuples, where each tuple contains two elements. Print the set.

In [49]:
s={(1,2),(3,4),(5,6),(7,8)}
print(s)

{(1, 2), (3, 4), (7, 8), (5, 6)}