# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

Q1.Create a tuple with the first 10 positive integers. Print the tuple.

In [44]:
first_tuple=tuple(range(1,11))
print(first_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Q2 .Print the first, middle, and last elements of the tuple created in Assignment 1.

In [45]:
print(f"The first element of tuple is {first_tuple[0]}")
print(f"The middle element of tuple is {first_tuple[len(first_tuple)//2]}")
print(f"The last element of tuple is {first_tuple[-1]} ")
#print(first_tuple[0],first_tuple[len(first_tuple)//2],first_tuple[-1])

The first element of tuple is 1
The middle element of tuple is 6
The last element of tuple is 10

Q 3.Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [46]:
print(first_tuple[0:3])
print(first_tuple[-3:])
print(first_tuple[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

Q 4.Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [47]:
tuple_nested= (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for mat in tuple_nested:
    print(mat)
print(f"The element at second row and third colomn is {tuple_nested[1][2]}")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element at second row and third colomn is 6

Q 5.Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [48]:
tup1=(1,2,3)
tup2=(4,5,6)
new_tup=tup1+tup2
print(f"The concatination of two tuples is {new_tup}")

The concatination of two tuples is (1, 2, 3, 4, 5, 6)

Q 6.Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [49]:
dup_tuples=(1,2,3,4,5,6,4,2,1,2,4,9)
print(f"The count of elements 2 in tuples is {dup_tuples.count(2)}")
print(f"The index of first occurence of element 4 is {dup_tuples.index(4)}")

The count of elements 2 in tuples is 3
The index of first occurence of element 4 is 3

Q 7.Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [50]:
tuples=(1,2,3,4,5)
a,b,c,d,e=tuples
print(a,b,c,d,e)

1 2 3 4 5

Q 8.Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [51]:
lis1=[1,2,3,4,5]
tup=tuple(lis1)
print(tup)

(1, 2, 3, 4, 5)

Q 9.Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [52]:
nested_tuples=((1,2,3),(4,5,6),(7,8,9))
print(nested_tuples)
for subtuples in nested_tuples:
    for elem in subtuples:
        print(elem,end="")
    print()

((1, 2, 3), (4, 5, 6), (7, 8, 9))
123
456
789

Q 10.Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [60]:
tpl = (1, 2, 3, 4, 5)
lis=list(tpl)
print(lis)
lis.append(6)
tpl=tuple(lis)
print(tpl)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

Q 11.Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [64]:
str="Hasan"
str_tup=tuple(str)
print(f"The string after converting into tuple {str_tup}")
joined_string=''.join(str_tup)
print(f"The string after merging into single string  {joined_string}")

The string after converting into tuple ('H', 'a', 's', 'a', 'n')
The string after merging into single string  Hasan

Q 12.Create a dictionary with tuple keys and integer values. Print the dictionary.

In [78]:
dist={
    ("Name"):1,
    ("1+ 1"): 2,
    (4,5):6
}
print(dist)

{'Name': 1, '1+ 1': 2, (4, 5): 6}

Q 13.Create a nested tuple and iterate over the elements, printing each element.

In [67]:
nested_tuples=((1,2,3),(4,5,6),(7,8,9))
for subtuples in nested_tuples:
    for elem in subtuples:
        print(elem)

1
2
3
4
5
6
7
8
9

Q 14.Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [69]:
new_tuples=(1,2,3,4,1,1,2,3,3,4,4,5)
uniq_set=set(new_tuples)
print(uniq_set)

{1, 2, 3, 4, 5}

Q 15.Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [77]:
def min_tup(tpl1):
    return min(tpl1)

def mix_tup(tpl1):
    return max(tpl1)

def sum_tup(tpl1):
    return sum(tpl1)

sample_tup=(1,2,3,4,5,6,7,8)
print(f"The min in tuple is {min_tup(sample_tup)}")
print(f"The min in tuple is {min_tup(sample_tup)}")
print(f"The min in tuple is {sum_tup(sample_tup)}")

The min in tuple is 1
The min in tuple is 1
The min in tuple is 36